body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

#game-panel,
#game-info, 
#game-group-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

#game-info p span {
  font-weight: 700;
}

#game-panel {
  pointer-events: none;
}

#game-panel.play {
  pointer-events: auto;
}

/* Estilos para las cartas */
.card {
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;
  flex: 0 0 calc(25% - 40px);
  perspective: 800px;
  min-height: 90px;
  position: relative;
}

.card.flipped {
  pointer-events: none;
}

.card-inner {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  height: 100%;
  min-height: 90px;
  transform-style: preserve-3d;
  transition: all .2s ease-in;
  transform: rotateY(180deg);
  background-color: #cfcfcf;
  background-image: linear-gradient(to right, #0058e1, #2c70eb, #4a87f3, #669efa, #83b4ff);
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 3rem;
}

.flipped .card-inner {
  transform: rotateY(0);
  background-image: none;
  background-color: #ffffff;
}

.flipped.error .card-inner{
  animation: cangeError .6s;
  animation-iteration-count: 1;
}

.flipped.success .card-inner {
  animation: cangeSuccess 1s;
  animation-iteration-count: 1;
}

@keyframes cangeError {
  from {background-color: #ff000049;}
  to {background-color:  #ffffff;}
}

@keyframes cangeSuccess {
  from {background-color: #22aa003d;}
  to {background-color:  #ffffff;}
}

.card-inner span {
  opacity: 0;
  transition: all .2s ease-in;
}

.flipped .card-inner span {
  opacity: 1;
  display: block;
}

@media (max-width: 768px) {
  /* Estilos para dispositivos móviles */
  .card {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    flex: 0 0 calc(25% - 20px);
    min-height: 68px;
  }
  .card-inner {
    font-size: 2rem;
    min-height: 68px;
  }
}

@media (max-width: 480px) {
  /* Estilos para dispositivos móviles más pequeños */
  .card {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    flex: 0 0 calc(25% - 10px);
    min-height: 50px;
  }
  .card-inner {
    padding: 0;
    min-height: 50px;
  }
}
